<%- include('../header3')-%>
<link href="https://unpkg.com/persian-datepicker@1.2.0/dist/css/persian-datepicker.min.css" rel="stylesheet">
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>افزودن اسلایدر خبر</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <%if(d){%>
                    <div class="alert alert-success">
                        با موفقیت افزوده شد
                    </div>
                    <%}%>
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
<!--                            <h3 class="card-title">مثال ساده</h3>-->
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" enctype="multipart/form-data" method="post" action="/admin/news_slider/add" >
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="news_title">عنوان </label>
                                    <input type="text" class="form-control" id="news_title" name="title" placeholder="عنوان  را وارد کنید">
                                </div>
                                <div class="form-group">
                                    <label for="news_title">لینک </label>
                                    <input type="text" class="form-control" id="news_title" name="link" placeholder="site.com/route">
                                </div>
								<div class="form-group">
                                    <label for="my_date">تاریخ </label>
                                    <input  class="form-control" id="my_date" name="to_date" placeholder=" 1399/01/01">
									
									
                                </div>
                                <div class="form-group">
                                    <label for="img">تصویر </label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file"  id="img" name="img">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description">توضیحات</label>
                                    <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">ارسال</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                    <!-- Form Element sizes -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<%- include('../footer3')-%>
<script src="https://unpkg.com/persian-date@1.1.0/dist/persian-date.min.js"></script>
<script src="https://unpkg.com/persian-datepicker@1.2.0/dist/js/persian-datepicker.min.js"></script>

<script>

        $('#my_date').persianDatepicker({
            initialValue: false,
            observer: true,
            format: 'YYYY/MM/DD',
        });

<script>