<%- include('header_main.ejs'); -%>
<script src="https://cpch.ir/v1.0/js/hl6DZ6c1dfz7UwTSn"> </script>
<style>
   #captcha{
        border-color: rgb(25, 162, 230) !important;
        color: #0009;
        overflow: visible;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 16px;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1.5px solid #a56433;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 0;
        letter-spacing: -0.5px;
        margin-bottom: 13px;
    }
</style>
<main class="main-root">
    <div id="dsn-scrol1lbar">
        <header dir="rtl">
            <div class="header-page background-section">
                <div class="container h-100">
                    <div class="contenet-hero p-relative">
                        <h2 class="title-page p-relative">وب سایت انجام میدم</h2>
                        <h3 class="p-relative " style="color: rgb(25, 162, 230) !important;">انجام میدم</h3>
                    </div>

                </div>
            </div>
        </header>


        <div class="wrapper root-contact">

            <div class="image-head p-relative mb-section">
                <div class="container">
                    <div class="row">
                 
                   
                        
                    </div>
                </div>

            </div>


        </div>


        <%- include('foot1.ejs'); -%>
        <!--rgb(234,220,21)-->
