<%- include('header_main.ejs'); -%>
<script src="https://cpch.ir/v1.0/js/hl6DZ6c1dfz7UwTSn"> </script>
<style>
   #captcha{
        border-color: rgb(25, 162, 230) !important;
        color: #0009;
        overflow: visible;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 16px;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1.5px solid #a56433;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 0;
        letter-spacing: -0.5px;
        margin-bottom: 13px;
    }
</style>
<main class="main-root">
    <div id="dsn-scrollbar1">
        <header dir="rtl">
            <img src="<%=bnr%>" class="img-fluid" style="width: 100%;">
        </header>


        <div class="wrapper root-contact">

            <div class="image-head p-relative mb-section">
                <div class="container">
                    <div class="row">
                 
                   
                        
                    </div>
                </div>

            </div>


        </div>


        <%- include('foot1.ejs'); -%>
        <!--rgb(234,220,21)-->
