<!DOCTYPE html>
<html lang="en-US">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="discrption" content="parallax one page"/>
    <meta name="keyword"
          content="agency, business, corporate, creative, freelancer, interior, joomla template, K2 Blog, minimal, modern, multipurpose, personal, portfolio, responsive, simple"/>

    <!--  Title -->
    <title>ایران ترانسفو</title>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/assets/img/btrans/icon.ico" type="image/x-icon"/>
    <link rel="icon" href="/assets/img/btrans/icon.ico" type="image/x-icon"/>

    <!-- custom styles (optional) -->

    <!-- <link href="/build/bootstrap.min.css" rel="stylesheet"/> -->
    <link href="/build/1634849961913028-bootstrap.min.css" rel="stylesheet"/>
    
    <link href="/assets/css/plugins.css" rel="stylesheet"/>
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <link href="/assets/css/icofont.min.css" rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="/swiper.min.css"> -->
    <link rel="stylesheet" href="/lightslider.css">
    <link href="/assets/css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">
    <link href="/assets/css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">
    <script src="/build/jquery-3.2.1.slim.min.js"></script>
    <script src="/build/bootstrap.min.js"></script>
    <style>
        .seq .seq-title h3{
            text-align: justify !important;
            margin-right: 82px !important;
            direction: rtl !important;
            line-height: 35px !important;
        }
		
        nav{
            direction: rtl !important;
        }
        .seq .seq-title h3{
            text-align: justify !important;
            margin-right: 82px !important;
            direction: rtl !important;
            line-height: 35px !important;
        }
		
@media only screen and (max-width: 600px) {
.mvtr{width:90% !important;
text-align: center}
}
.nav-link{
    color: #fff !important;
}
.dropdown-menu{
    background-color:#2196F3 !important ;
    padding: 9px;
}
.dropdown-item{
    background-color:#2196F3 !important ;
    text-align: right;
    padding-top: 8px;
    color: #fff;
}
.nav-link:hover,.dropdown-item:hover{
        color:yellow !important;
        font-weight: bold;
    }
    .dropdown:hover .dropdown-menu{
        display: block !important;
        margin-top: 0 !important;
        transition: all 0.5s ease-in-out;
    }
    .navbar-nav li:hover .dropdown-menu{
        transition: all 0.5s ease-in-out;
    }
    .animate{
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
    }
    .nav-link{
        text-align: center;
    }
    </style>
</head>

<!--classic-menu-->

<body class="dsn-effect-scroll dsn-cursor-effect dsn-ajax classic-menu v-light">

<div class="preloader">
    <div class="preloader-bar">
        <div class="preloader-progress"></div>
    </div>

    <p class="title v-middle mvtr" >
        <span class="percent ">0</span>
        <span class="text-strok" style="font-family: iransans, 'Open Sans', sans-serif !important;">
             <img class="dark-logo" src="/assets/img/btrans/min-logo.png" alt=""/>
             ایران ترانسفو
        </span>
        <span class="text-fill" style="font-family: iransans, 'Open Sans', sans-serif !important;">
             <img class="dark-logo" src="/assets/img/btrans/min-logo.png" alt=""/>
            ایران ترانسفو
        </span>
    </p>
</div>

<nav class="sticky-top navbar navbar-expand-lg navbar-light text-right" style="background-color: #2196F3 ;">
    <a class="navbar-brand" href="/"><img src="/assets/img/btrans/logo4.png" width="100" style="height: 37px;" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link " href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ایران ترانسفو
            </a>
            <div class="dropdown-menu animate" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/about">دریک نگاه</a>
              <a class="dropdown-item" href="/ceo">پیام مدیرعامل</a>
              <a class="dropdown-item" href="/chart">ساختار سازمانی</a>
              <a class="dropdown-item" href="/rahbord">سیاست های راهبردی</a>
              
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">محصولات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#coworker" >شرکت های تابعه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/crm" >امور مشتریان</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                امور سهام
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/#">درگاه سهامداران</a>
              <a class="dropdown-item" href="/saham">ارتباط با واحد سهام</a>
              <a class="dropdown-item" href="https://www.codal.ir/ReportList.aspx?search&Symbol=%D8%A8%D8%AA%D8%B1%D8%A7%D9%86%D8%B3">کدال</a>
              <a class="dropdown-item" href="http://www.tsetmc.com/Loader.aspx?ParTree=151311&i=46752599569017089">TSETMC</a>
              <a class="dropdown-item" href="/reporting">گزارشات مالی</a>
              
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                فرصت های شغلی
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/mzyd">مناقصه و مزایده</a>
              <a class="dropdown-item" href="/cooperation">همکاری با ما</a>
              <a class="dropdown-item" href="/job">استخدام</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                رسانه
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/news">اخبار</a>
              <a class="dropdown-item" href="/notif">اطلاعیه ها</a>
              <a class="dropdown-item" href="/media">چندرسانه ای</a>
              <a class="dropdown-item" href="/catalog">کاتالوگ</a>
              
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">تماس با ما</a>
          </li>
      </ul>
      
    </div>
  </nav>
<script>
    $('.dropdown').addClass('open')
</script>