<form style="text-align:right" action="/crm/legal_add"  method="post">
  <div class="row">
        <div class="form-group col-md-4">
        <label for="companyName">نام شرکت</label>
        <input type="text" class="form-control" name="companyName" id="companyName" >
      </div>
      <div class="form-group col-md-4">
        <label for="company_national_number">شناسه ملی شرکت</label>
        <input type="text" class="form-control" id="company_national_number" name="company_national_number">
      </div>
      <div class="form-group col-md-4">
          <label for="refer_name">نام و نام خانوادگی رابط</label>
          <input type="text" class="form-control" id="refer_name" name="refer_name">
        </div>
        <div class="form-group col-md-6">
                  <label for="jobTitle">سمت سازمانی رابط</label>
                  <input type="text" class="form-control" id="jobTitle"name="jobTitle">
        </div>
        <div class="form-group col-md-6">
                  <label for="refer_mobile">شماره همراه رابط</label>
                  <input type="text" class="form-control" id="refer_mobile" name="refer_mobile">
        </div>
        <div class="form-group col-md-4">
                  <label for="fax">فکس</label>
                  <input type="text" class="form-control" id="fax" name="fax">
        </div>
        <div class="form-group col-md-4">
                  <label for="email">ایمیل</label>
                  <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group col-md-4">
                  <label for="address">آدرس</label>
                  <textarea name="address" class="form-control" id="address"></textarea>
        </div>
        <div class="form-group col-md-3">
                  <label for="tavan">توان</label>
                  <input type="text" class="form-control" id="tavan" name="tavan">
        </div>
        <div class="form-group col-md-3">
                          <label for="volt">ولتاژ</label>
                          <input type="text" class="form-control" id="volt" name="volt">
            </div>
            <div class="form-group col-md-3">
                          <label for="product_serial_number">شماره سریال محصول</label>
                          <input type="text" class="form-control" id="product_serial_number" name="product_serial_number">
            </div>
        <div class="form-group col-md-3">
                  <label for="request_title">عنوان درخواست</label>
                  <select  class="form-control" name="request_title" id="request_title">
                  <option value="1">شکایت</option><option value="2">پیشنهاد</option><option value="3">استعلام</option> </select>
        </div>
        <div class="form-group col-md-4">
                  <label for="product_type">نوع محصول</label>
                  <select class="form-control" name="product_type" id="product_type"><option value="1">نرمال خشک</option><option value="2">نرمال روغنی</option><option value="3">ویژه خشک</option><option value="4">ویژه روغنی</option><option value="5">فوق توزیع خشک</option><option value="6">فوق توضیع روغنی</option><option value="7">قدرت روغنی</option> </select>
        </div>
        <div class="form-group col-md-4">
        <span id="forosh_span_legal">
        <label for="forosh">خدمات فروش از</label>
                          <select class="form-control" name="forosh" id="forosh"><option value="1">شرکت بازرگانی</option><option value="2">نمایندگی فروش</option><option value="3">فروش اینترنتی</option><option value="4">ایران ترانسفو</option> </select>
        </span>
        <span id="pas_az_forosh_span_legal" style="display:none">
        <label for="pas_az_forosh">خدمات فروش از</label>
                          <select class="form-control" name="pas_az_forosh" id="pas_az_forosh"><option value="1">شرکت خدمات پس از فروش</option><option value="2">نمایندگی خدمات پس از فروش</option> </select>
        </span>

        </div>
        <div class="form-group col-md-4">
                          <label for="request_type_legal">نوع محصول</label>
                          <select class="form-control" name="request_type" id="request_type_legal">
                          <option value="1">فروش</option>
                          <option value="2">خدمات پس از فروش</option>
                          </select>
                </div>
          <div class="form-group col-md-12">
                            <label for="request">متن درخواست</label>
                            <textarea name="request" class="form-control" id="request"></textarea>
          </div>

                                                  <div class="col-md-6">
                                                            <button class=" btn-success" style="background-color: #28a745 !important;    padding: 15px;
                                                      margin-bottom: 30px;
                                                      border-radius: 7px;"  type="submit">ثبت درخواست</button>
                                                        </div>


  </div>

</form>
<script>
    $("#request_type_legal").change(()=>{
        let vl=$("#request_type_legal").val()
        if(vl==1){
            $("#pas_az_forosh_span_legal").css('display','none');
            $("#forosh_span_legal").css('display','block');
        }else{

            $("#forosh_span_legal").css('display','none');
            $("#pas_az_forosh_span_legal").css('display','block');
        }
    });
</script>