<%- include('header_main.ejs'); -%>
<main class="main-root">
    <div id="dsn-scrol1lbar">
        <header dir="rtl">
            <img src="<%=bnr%>" class="img-fluid" style="width: 100%;">           
        </header>
         <div class="header-page background-section">
               
            </div>
		
                <div class=" c-wapp" style="padding-top:0px !important;">
                    <div class="container">
                       
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contenet-hero p-relative" style="padding-bottom:20px !important;">
                                    <h2 class="mt-4 mb-2 title-page p-relative">گروه صنعتی ایران ترانسفو</h2>
                                    <h3 class="mt-4 mb-5 p-relative " style="color: rgb(25, 162, 230) !important;">سیاست های راهبردی </h3>
                                    <p class="subtitle-page text-justify" style="direction: rtl;">
                                    شرکت ايران ترانسفو به عنوان شركتي پيشرو با بيش از 50 سال سابقه توليد انواع ترانسفورماتور، خط‌مشي خود را در راستاي
             نيل به موفقيت پايدار با توجه  به رئوس مطالب زير بنا نهاده است:
            
                                        </p>
                                </div>
                            </div>
                            <div class="col-12">
                              <ul class="ceo-list" dir="rtl">
                                  <li><i class="icofont-paper"></i>
								  ارتقاء وفاداري مشتريان از طريق شناسايي و برآورده کردن نيازها و انتظارات آنها و جلب رضايت ذينفعان.</li>
                                  <li>
								 <i class="icofont-paper"></i>
								  توسعه شايستگي‌هاي رهبري و فراهم‌‌آوري منابع در سطوح مختلف سازمان براي تحقق اهداف کلان سازمان</li>
                                  <li><i class="icofont-paper"></i>توسعه مديريت عملکرد فرآيندهاي سازماني با رويکرد اثربخشي تغييرات ايجاد شده در سيستم‌هاي مديريت يکپارچه در
 راستاي مديريت عملکرد سازمان</li>
                                  <li>
								<i class="icofont-paper"></i>
								  توسعه مديريت دانش در سطوح مختلف فرآيندهاي سازمان

                                  </li>
                                  <li>
								 <i class="icofont-paper"></i>
								  ارتقاء شايستگي کارکنان به عنوان سرمايه‌ اصلی شرکت

                                  </li>
                                  <li>
								  <i class="icofont-paper"></i>
								  تعهد به مشارکت و مشاوره کارکنان در سيستم ايمنی و بهداشت شغلی</li>
                                  <li>
								  <i class="icofont-paper"></i>
								  بهره‌برداري و بکارگيري موثر از فناوري روز در زيرساخت‌ها، مواد و انرژي به منظور ارتقاء کيفيــت و سودآوري با کنـترل
 خدمات و محصولات کارا و موثر بر عملکرد انسان‌ها، محيط زيست و انرژی
								  </li>
<li>
<i class="icofont-paper"></i>
شناسايی مخاطرات و کنترل ريسک‌ها به همراه اجراي اثربخش کنترل‌های ريسک در تمامي فـرآيندهاي سازمان و تعهد
 به حذف خطرات و کاهش ريسک‌هاي ايمني، بهداشت شغلي و کنترل جنـبه‌های بارز انرژی، در جــهت بهره‌وری انـرژی با
 اهتمام به تامين و جايگزينی تدريجی تجهيزات فرسوده با تجهيزات پربازده انرژی
								  </li>
								  <li>
								 <i class="icofont-paper"></i>
								  تعهد به حفظ محيط زيست شامل پيشگيري از آلودگي، كاهش آلاينده‌ها و مصرف بهينه انرژي و مـنابع با نگاه به چرخه 
عمر محصول
								  </li><li>
								 <i class="icofont-paper"></i>
						تعهد به فراهم نمودن شرايط کاري ايمن و بهداشتي به منظور پيشگيري از آسيب و بيماري و حوادث ناشي از کار.

								  </li><li>
								 <i class="icofont-paper"></i>
						تعهد به برآورده نمودن الزامات قانوني و ساير الزامات قابل کاربرد در زمينه‌ فعاليت‌ها، محـصولات و خــدمات شـرکت و
 رعايت ساير الزامات سازمان در زمينه‌ کيفيت، ايمني، بهداشت شغلي، محيط زيست و مديريت انرژی

								  </li>
                              </ul>
							  <p style="text-align: justify;
    direction: rtl;
    line-height: 34px;margin-top:15px;font-size: 18px;">
							  اين سازمان ضمن تعهد به بهبود مستمر سيستم مديريت کيفيت، ايمني، بهداشت شغلي، زيست محـيطي و مديريت انرژی،
 ارتقاء سودآوري خود را منوط به وفاداري و جلب رضايت مشتري مي‌داند که ماحصل عملکرد فرآيندهاي مشتـــــري‌مدار، 
سيستم‌هاي مديريتي و منابع انساني مطلوب سازمان مي‌باشد و لازم مي‌داند که ايــن خط‌مشي را به اطـــلاع کليه ذينفعان
 رسانده و اميد داريم مشارکت کليه طرف‌هاي ذينفع را در تحقق اهداف خود شاهد باشيم.

							  </p>
                            </div>
                        </div>
                    </div>
                </div>

        <%- include('foot1.ejs'); -%>
